node_modules/
.vscode/
.prettierrc
.env
dist/
tests/
logs/
TODO.MD
dashboard/.eslintrc.cjs
dashboard/.gitignore
dashboard/.prettierrc
dashboard/sample.js
/utils/logger.ts
certificates/
worker/.vscode
worker/venv
worker/notes.txt